/* Write your CSS here */
.bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
}

.head {
  color: #0f172a;
  font-size: 38px;
}

.timer-container {
  background-size: cover;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
}

.bg-2 {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer {
  background-color: white;
  padding: 10px;
  border-radius: 100px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 30px;
  text-align: center;
}

.timer-count {
  font-weight: bold;
  color: #00d9f5;
  font-size: 40px;
}

.timer-para {
  color: #1e293b;
  font-weight: bold;
  font-size: 26px;
}

.control-img {
  width: 40px;
  margin-right: 10px;
}

.control-button {
  background-color: transparent;
  border: 0;
  font-size: 26px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1e293b;
}

.control-butoon-container {
  display: flex;
}

.ic-para {
  text-align: center;
  padding-top: 30px;
  color: #0f172a;
  font-weight: 500;
}

.iccontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ic-btn {
  background-color: transparent;
  border: 0;
  color: #0f172a;
  font-size: 46px;
}

.count-Info {
  font-size: 38px;
  font-weight: bold;
  border: 2px solid #0f172a;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-image: linear-gradient(to right, #defafe, #00d9f5);
}

@media (max-width: 576px) {
  .bg-2 {
    flex-direction: column;
    width: 100vw;
  }

  .timer-container {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
  }
}
